<div class="container d-flex justify-content-center align-items-center h-100">
  <form
    [formGroup]="forgotPassEmail"
    (submit)="sendPasswordResetMail()"
    class="w-50 p-5 bg-light bg-gradient"
  >
    <h1>Email for Password-Reset</h1>
    <hr />
    <div class="mb-3">
      <input
        placeholder="email"
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        autocomplete="off"
      />
      <div
        *ngIf="
          forgotPassEmail.get('email')?.touched &&
          forgotPassEmail.get('email')?.invalid
        "
        id="emailHelp"
        class="form-text ms-1 text-danger"
      >
        Invalid email address
      </div>
      <div
        *ngIf="errorMessage"
        id="emailHelp"
        class="form-text text-danger ms-1"
      >
        {{ errorMessage }}
      </div>
      <div
        *ngIf="passwordResetMessage"
        id="emailHelp"
        class="form-text text-success ms-1"
      >
        {{ passwordResetMessage }}
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-end flex-column">
      <button [disabled]="loading" type="submit" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span
        ><span class="ms-1">Send</span>
      </button>
      <p class="text-primary pointer mt-3" [routerLink]="['/login']">
        Back to Login Page
      </p>
    </div>
  </form>
</div>
