<div class="container d-flex justify-content-center align-items-center h-100">
  <div>
    <p>ID: {{ ($user | async)?.id }}</p>
    <p>Name: {{ ($user | async)?.name }}</p>
    <p>Surname: {{ ($user | async)?.surname }}</p>
    <p>Age: {{ ($user | async)?.age }}</p>
    <p>Email: {{ ($user | async)?.email }}</p>
    <!-- <img
      style="width: 100px; height: auto"
      [src]="($user | async)?.profilePicture"
      alt="pp"
    /> -->
    <img
      style="width: 100px; height: auto"
      [src]="['data:image/png;base64', ($user | async)?.profilePicture]"
    />
  </div>
</div>
<input (change)="onChange($event)" type="file" />
