<form [formGroup]="loginForm" (submit)="login()">
  <h1>Login</h1>
  <hr />
  <div class="mb-3">
    <input
      placeholder="email"
      formControlName="email"
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      autocomplete="off"
    />
    <div
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid"
      id="emailHelp"
      class="form-text ms-1 text-danger"
    >
      Invalid email address
    </div>
  </div>
  <div class="mb-3">
    <input
      placeholder="password"
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      aria-describedby="passwordHelp"
    />
    <div
      *ngIf="
        loginForm.get('password')?.touched && loginForm.get('password')?.invalid
      "
      id="passwordHelp"
      class="form-text ms-1 text-danger"
    >
      Password is required
    </div>
  </div>
  <div class="d-flex justify-content-end align-items-end flex-column">
    <button [disabled]="loading" type="submit" class="btn btn-primary">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span
      ><span class="ms-1">Login</span>
    </button>
    <p class="text-primary mt-3 pointer" [routerLink]="['/register']">
      Don't you have an account?
    </p>
  </div>
</form>
