<div class="container d-flex justify-content-center align-items-center h-100">
  <form
    [formGroup]="passwordsForm"
    (submit)="resetPassword()"
    class="w-50 p-5 bg-light bg-gradient"
  >
    <h1>Reset Your Password</h1>
    <hr />
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="inputPassword1"
        aria-describedby="passwordHelp"
        formControlName="password"
        placeholder="password"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      />
      <div
        *ngIf="
          passwordsForm.get('password')?.invalid &&
          passwordsForm.get('password')?.touched
        "
        id="passwordHelp"
        class="form-text text-danger ms-1"
      >
        <p>Password should contains at least</p>
        <p>- 8 characters</p>
        <p>- one upper letter</p>
        <p>- one lower letter</p>
        <p>- one number</p>
        <p>- one special character (.,*%&+) etc</p>
      </div>
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        aria-describedby="passwordHelp2"
        formControlName="repassword"
        placeholder="retype password"
      />
      <div
        *ngIf="
          passwordsForm.get('repassword')?.touched &&
          passwordsForm.get('repassword')?.invalid
        "
        id="passwordHelp2"
        class="form-text text-danger ms-1"
      >
        Passwords doesn't match
      </div>
      <div
        *ngIf="backendMessage"
        id="passwordHelp2"
        class="form-text text-success ms-1 mt-2"
      >
        {{ backendMessage }}
      </div>
    </div>
    <div class="d-flex justify-content-end align-items-end flex-column">
      <button [disabled]="loading" type="submit" class="btn btn-primary">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span
        ><span class="ms-1">Reset</span>
      </button>
    </div>
  </form>
</div>
